<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="REST_SERVICE_URL" value="http://nkdf.erp.nabinaco.com:8002/api/" />-->
    <add key="REST_SERVICE_URL" value="http://localhost:62198/api/" />
    <!--<add key="WebApiBaseUrl" value="http://localhost:62198/" />-->
  </appSettings>
</configuration>